<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quality Assurance Manager</title>
</head>
<body>
    {{> qamHeader}}
    
    <div class="container-fluid" style="margin-top:30px">
        
        <div class="row">
            <div class="col-8 ">
                <canvas id="chart1" class="shadow p-3 mb-5 bg-white rounded"></canvas>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-lg-2 text-white pt-5 pb-5 pl-2 pr-2 text-center" style="background-color: rgb(0, 165, 186); margin-left:20%;"> 
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="col-lg-5 text-white pt-5 text-uppercase text-left" style="background-color: rgb(0, 188, 212);">
                        <h4>{{users}} Total Users</h4>
                    </div>
                </div>
                <div class="w-100"><br><br></div>
                <div class="row">
                    <div class="col-lg-2 text-white pt-5 pb-5 pl-2 pr-2 text-center" style="background-color: rgb(205, 26, 87);margin-left:20%;"> 
                        <i class="fas fa-tasks fa-3x"></i>
                    </div>
                    <div class="col-lg-5 text-white pt-5 text-uppercase text-left" style="background-color: rgb(233, 30, 99);">
                        <h4>{{courses}} Total Courses</h4>
                    </div>
                </div>
                <div class="w-100"><br><br></div>
                <div class="row">
                    <div class="col-lg-2 text-white pt-5 pb-5 pl-2 pr-2 text-center" style="background-color: rgb(224, 134, 0);margin-left:20%;"> 
                        <i class="far fa-lightbulb fa-3x"></i>
                    </div>
                    <div class="col-lg-5 text-white pt-5 text-uppercase text-left" style="background-color: rgb(255, 152, 0);">
                        <h4>{{ideas}} Total Ideas</h4>
                    </div>
                </div>
            </div>
            <div class="w-100"><br><br></div>
            <div class="col-4">
                <canvas id="pieChart" class="shadow p-3 mb-5 bg-white rounded"></canvas>
            </div>
            <div class="col-8">
                <canvas id="chart2" class="shadow p-3 mb-5 bg-white rounded"></canvas>
            </div>
        </div>

    </div>
    <br><br>
    
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
</body>

<!--Chart -->
<script type="module" src='../js/dashboard.js'></script>


</html>