<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quality Assurance Manager</title>
</head>
<body>
    {{> qamHeader}}
    
    <div class="container" style="margin-top:30px">
        <canvas id="myChart"></canvas>
    </div>
    <br><br>
    
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
</body>

    <script>

        const yAxesIT = [];
            const yAxesBu = [];
            const yAxesDes = [];
            const xAxes = [];
        drawChart();
      
        async function drawChart(){
            await getData();
            const ctx = document.getElementById("myChart").getContext("2d");
            const data = {
                labels: xAxes,
                datasets: [
                    {
                        label: "IT",
                        backgroundColor: "blue",
                        data: yAxesIT
                    },
                    {
                        label: "Business",
                        backgroundColor: "red",
                        data: yAxesBu
                    },
                    {
                        label: "Design",
                        backgroundColor: "green",
                        data: yAxesDes
                    }
                ]
            };
            const myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    barValueSpacing: 20,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            });
        }

        async function getData(){
            const res = await fetch('../csv/dashboardData.csv');
            const data = await res.text();

            const table = data.split('\n').slice(1);
            table.forEach(row=>{
                const column = row.split(',')

                const year = column[3]
                xAxes.push(year)
                
                const IT = column[0]
                yAxesIT.push(IT)

                const Business = column[1]
                yAxesBu.push(Business)

                const Design = column[2]
                yAxesDes.push(Design)
            })
            

        }


        
      </script>
    </script>
</html>