<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="d-flex justify-content-between">
            <div>
                <ul class="d-flex m-1">
                    <li id="login-site">LOGINSITE</li>
                    <li>ADMIN PAGES</li>
                </ul>
            </div>
            <div class="icon">
                <img src="../../img/avataricon.png">
                <img src="../../img/bellr.jpg">
            </div>
        </nav>
    </header>
    <main class="d-flex">
        <div class="left-menu">
            <div class="menu-title">
                <img src="../../img/backbutton.png">
                <p>Main Page</p>
            </div>
            <div class="information">
                <img src="../../img/avataricon.png">
                <div class="d-flex flex-column">
                    <p>Name</p>
                    <p>Information</p>
                </div>
            </div>
            <div>
                <h3 style="border-bottom:1px solid black">Function</h3>
                <div>
                    <ul>
                        <li class="d-flex">
                            <img src="../../img/home.jpg">
                            <button onclick="clickMe()" class="home-button">Home</button>
                        </li>
                        <li>Ideals ranking</li>
                        <li>Set Ideal date</li>
                        <li><a href="/admin/addUsers"> Create Account</a></li>
                        <li>See Ideal details</li>
                        <li><a href="/login/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
           
        </div>
    
</body>
</html>l