main{
    display: flex;
}
.left-menu{
    width: 20%;
    border-right: 1px solid black;
}
.right-content{
    width: 80%;
}
header{
    border-bottom:1px solid black;
}

nav ul{
    list-style-type: none;
}
nav ul li {
    margin : 5px;
}
.icon{
    display: flex;
    align-items: center;
}
#login-site{
    border-bottom: 2px solid blue;
    color : blue;
}
img{
    height: 30px;
}
.menu-title{
    display: flex;
    align-items: center;
    border-bottom:1px solid black;
}
.menu-title img{
    height: 20px;
    margin: 2px;
    justify-content: flex-start;
}
.menu-title p {
    font-size: larger;
    margin: 2px;
}
.information {
    display: flex;
    align-items: center;
    border-bottom:1px solid black;
}
.information img{
    height: 40px;
    margin-right: 2px;
}
.left-menu ul{
    list-style-type: none;
}
/* .left-menu ul li{
    display: flex;
} */
.left-menu img{
    height: 20px;
}