<!DOCTYPE html>
<html lang="en">
<body style="background-color:rgb(152, 199, 224);"></body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1 align="center"><a href="/">Group 4</a></h1>
    <form action="/admin/addUser" method="POST">
    <table align="center" border="1px" style="background-color:rgb(114, 191, 214);">
        <tr>
            <td width="100">Name</td>
            <td width="100"><input type="text" name="txtName"></td>
        </tr>   
        <tr>
            <td>Pass</td>
            <td><input type="text" name="txtPass" id=""></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input type="text" name="txtRole" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="txtEmail" id=""></td>
        </tr>
        <tr>
            <td colspan = 2 align="center"><input type="submit" value="Insert"></td>
        </tr>
    </table>
    </form>
</body>
</html>