<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
</head>
<body>
    {{>staffHeader}}
    
    
    <div class="container" style="margin-top:30px">
        <form action="/staff/addIdea" method="POST" enctype="multipart/form-data">
            <table align="center" border="1px">
                <input type="text" name="txtUser" value="{{userId}}" hidden>
                        
                        <div class="form-group">
                            <label for="Category" class="form-form-label">Category</label>
                            <select class="form-select border border-default rounded form-control" width="100%" aria-label="Default select example" name="txtCategory">
                                {{#each categories}}
                                <option>{{category}}</option>
                                {{/each}}
                            </select>
                            <label for="Category" class="form-form-label">Course</label>
                            <select class="form-select border border-default rounded form-control" width="100%" aria-label="Default select example" name="txtCourse">
                                {{#each courses}}
                                <option>{{courseName}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label >Content</label>
                            <textarea class="form-control" rows="5" name="txtIdea" required></textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label">File</label>
                            <input type="file" name="txtFile" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple/>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label" for="invalidCheck"></label>
                            <input type="checkbox" class="float-left" id="invalidCheck" class="form-check-input" required> Agree to the terms
                        </div>
                <div class="modal-body">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </table>
        </form>
    </div>
    <br><br>
    
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
</body>
</html>